services:
  api:
    build:
      context: ..
      dockerfile: docker/dockerfile.e2e
    env_file:
      - ../test.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    security_opt:
      - seccomp:unconfined
    networks:
      - goprojectskeleton-e2e-tests
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/api/status"]
      interval: 10s
      retries: 5
    command: [./main]
  db:
    image: postgres:17.2-alpine
    environment:
      POSTGRES_USER: goprojectskeleton
      POSTGRES_PASSWORD: goprojectskeleton
      POSTGRES_DB: goprojectskeleton
    networks:
      - goprojectskeleton-e2e-tests
    tmpfs:
      - /var/lib/postgresql/data:rw,noexec,nosuid,size=65536k
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U goprojectskeleton"]
      interval: 1s
      retries: 5

  mailhog:
    image: axllent/mailpit:latest
    # platform: linux/amd64
    restart: always
    networks:
      - goprojectskeleton-e2e-tests

  redis:
    image: redis:alpine  # o redis:7-alpine
    command:
      - redis-server
      - --requirepass
      - secretPassword
      - --maxmemory
      - 64mb
      - --maxmemory-policy
      - allkeys-lru
      - --save
      - "" # disable persistence for tests
    networks:
      - goprojectskeleton-e2e-tests
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      retries: 5

  bruno:
    build:
      context: ..
      dockerfile: docker/dockerfile.bruno
    networks:
      - goprojectskeleton-e2e-tests
    volumes:
      - ../tests/e2e/bruno:/etc/bruno
    depends_on:
      api:
        condition: service_healthy
    working_dir: /etc/bruno
    command: ["run", "--env=dev"]

networks:
  goprojectskeleton-e2e-tests:
    external: false
