services:
  goprojectskeleton:
    build:
      context: ..
      dockerfile: docker/dockerfile.dev
    ports:
      - "8080:8080"
      - "40000:40000" #dlv
    env_file:
      - ../dev.env
    depends_on:
      - db
    security_opt:
      - seccomp:unconfined
    volumes:
      - ../src:/app/src
      - ../dev.env:/app/.env:ro
      - ../.air.toml:/app/.air.toml
      - goprojectskeleton-swagger-data:/app/src/infrastructure/docs/swagger
    networks:
      - goprojectskeleton
    command: ["air", "-c", ".air.toml"]

  swagger:
    build:
      context: ..
      dockerfile: docker/dockerfile.swagger.debug
    ports:
      - "8081:8081"
    env_file:
      - ../dev.env
    volumes:
      - ../src/infrastructure/docs/config:/app/config
      - ../src/infrastructure/docs/main.go:/app/main.go
      - ../src/infrastructure/handlers:/app/handlers
      - ../src/domain/models:/app/models
      - ../src/application/shared/DTOs:/app/DTOs
      - ../src/infrastructure/docs/swagger:/app/swagger
      - ../.air.swagger.toml:/app/.air.swagger.toml
    networks:
      - goprojectskeleton
    command: ["air", "-c", ".air.swagger.toml"]

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    expose:
      - 5432
    ports:
      - "15436:5432"
    environment:
      POSTGRES_USER: goprojectskeleton
      POSTGRES_PASSWORD: goprojectskeleton
    volumes:
      - goprojectskeleton-db-data:/var/lib/postgresql/data
    networks:
      - goprojectskeleton

  mailhog:
    image: axllent/mailpit:latest
    # platform: linux/amd64
    ports:
      - "8025:8025"
      - "1025:1025"
    restart: always
    networks:
      - goprojectskeleton

  redis:
    image: redis:7.0-alpine
    command: ["redis-server", "--requirepass", "secretPassword"]
    networks:
      - goprojectskeleton

  redis-commander:
    image: rediscommander/redis-commander:latest
    ports:
      - "18081:8081"
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=redis
      - REDIS_HOST=redis
      - REDIS_PORT=redis:6379
      - REDIS_PASSWORD=secretPassword
    networks:
      - goprojectskeleton

networks:
  goprojectskeleton:
    external: false

volumes:
  goprojectskeleton-db-data:
    external: false
  # Reload purposes
  goprojectskeleton-swagger-data:
    external: false
