package main

import (
	"context"
	"log"

	"github.com/simon3640/goprojectskeleton/aws"
	handlers "github.com/simon3640/goprojectskeleton/src/infrastructure/handlers"

	"github.com/aws/aws-lambda-go/lambda"
)

var initialized bool

func init() {
	if !initialized {
		log.Println("Initializing AWS Infrastructure")
		aws.InitializeInfrastructure()
		initialized = true
		log.Println("AWS Infrastructure initialized successfully")
	}
}

func handler(ctx context.Context, event map[string]interface{}) (aws.LambdaResponse, error) {
	{{- if .NeedsAuth }}
	return aws.HandleLambdaEventWithAuth(event, func(hc handlers.HandlerContext) {
		handlers.{{.HandlerName}}(hc)
	})
	{{- else }}
	return aws.HandleLambdaEvent(event, func(hc handlers.HandlerContext) {
		handlers.{{.HandlerName}}(hc)
	})
	{{- end }}
}

func main() {
	lambda.Start(handler)
}
