module goprojectskeleton/functions/azure

go 1.25

require (
	goprojectskeleton v0.0.0
	goprojectskeleton/azure v0.0.0
)

replace goprojectskeleton => ../../../../../../../..

replace goprojectskeleton/azure => ../../../..
