module github.com/simon3640/goprojectskeleton/functions/azure

go 1.25

require (
	github.com/simon3640/goprojectskeleton v0.0.0
	github.com/simon3640/goprojectskeleton/azure v0.0.0
)

replace github.com/simon3640/goprojectskeleton => ../../../../../../../..

replace github.com/simon3640/goprojectskeleton/azure => ../../../..
