module gormgoskeleton/functions/azure

go 1.25

require (
	gormgoskeleton v0.0.0
	gormgoskeleton/azure v0.0.0
)

replace gormgoskeleton => ../../../../../../../..

replace gormgoskeleton/azure => ../../../..
