name: Integration and E2E Tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - develop
      - 'releases/**'
  pull_request:
    branches:
      - main
      - develop
      - 'releases/**'

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      relevant: ${{ steps.filter.outputs.relevant }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for relevant changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            relevant:
              - 'docker/**'
              - 'src/**'
              - 'tests/**'

  tests:
    needs: check-changes
    if: needs.check-changes.outputs.relevant == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create test.env file
        run: |
          echo "${{ secrets.TEST_ENV_FILE }}" > test.env

      - name: Set up Docker Compose
        run: docker compose version

      - name: Run Integration Tests
        run: docker compose -f docker/docker-compose.test.yml up --abort-on-container-exit --exit-code-from goprojectskeleton-integration-tests --build

      - name: Run E2E Tests
        run: docker compose -f docker/docker-compose.e2e.yml up --abort-on-container-exit --exit-code-from bruno --build
